{% extends "layout.html" %}
{% block content %}



<form action='/results' method = 'post'>

  <style>
    .important-paragraph{
      color:aquamarine
    }
    </style>

  <p>Please enter a transaction id (ObjectID) to see probability of fraud:</p>  

    
  <p class = 'important-paragraph form-inputs'>
    <label for='sl'>Transaction ID: </label>
    <input type='text' name = 'obj_id' id='oi'/>
  </p>
  

  <p> <input type='submit' value='Predict Probability of Fraud'/></p>
</form>


{% endblock content %}